.code-playground {
  display: flex;
}

.code-tabs {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.result-preview {
  flex: 1;
  padding: 10px;
}

iframe {
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
}
