<ndl-article title="<a>: The Anchor element">
    <p>
      The <strong><code>&lt;a&gt;</code></strong> HTML element (or <em>anchor</em> element), with its href attribute,
      creates a hyperlink to web pages, files, email addresses, locations in the same page, or anything else a URL can
      address.
    </p>
    <p>
      Content within each <code>&lt;a&gt;</code> <em>should</em> indicate the link's destination. If the
      <code>href</code> attribute is present, pressing the enter key while focused on the <code>&lt;a&gt;</code>
      element will activate it.
    </p>

  <ndl-code-playground [htmlCode]="htmlCode" [cssCode]="cssCode"/>
</ndl-article>
